@import "abstracts/variables";
@import "core/reset";
@import "abstracts/mixins/media-queries";

body {
  font-family: $ff-manrope;
  font-size: 0.875rem;
  background-color: $clr-Light-Grayish-Blue;
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin-right: 1rem;
  margin-left: 1rem;
}
.article {
  border: 1px solid orange;
  border-radius: 1rem;
  overflow: hidden;
  color: $clr-Grayish-Blue;
  background: white;

  &__img {
    img {
      object-fit: cover;
    }
  }
  &__content {
    padding: 1.8rem 1.8rem 0;
    display: grid;
    gap: 1rem;
    h1 {
      color: $clr-Very-Dark-Grayish-Blue;
    }
    p {
      font-weight: $fw-bold;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding-inline: 1.8rem;
    padding-block: 1rem;

    &.bottom-socials {
      height: 74px;
      display: flex;
      align-items: center;
      @include mobile {
        background: $clr-Very-Dark-Grayish-Blue;
      }
    }
    .default-group {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      p span {
        color: $clr-Desaturated-Dark-Blue;
        font-weight: $fw-bold;
      }
      img {
        height: 1.8rem;
        border-radius: 15rem;
      }
    }
    .hidden-group {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      p {
        letter-spacing: 6px;
      }
      div {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
    .hidden {
      display: none;
    }
    .article-button {
      border: none;
      padding: 0.6rem;
      border-radius: 15rem;
      cursor: pointer;

      &.button-active {
        background-color: $clr-Desaturated-Dark-Blue;
        svg path{
          fill: white;
        }
        
      }
    }
  }
}
